header {
    display: grid;
    grid-template-columns: 20rem auto;
    align-items: center;
    gap: 1rem;
    width: 95%;
    padding: 0.5rem 0;
    min-height: 3.125rem;
}

.header__start {
    display: flex;
    gap: 1rem;
}

.header__end {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.header__search-input {
    display: none;
}

.header__end-options {
    display: none;
}

.header__end-menu {
    display: flex;
    gap: 1rem;
}

.header__logo-container {
    display: flex;
    height: 3.125rem;
    align-items: center;
    min-width: 13.875em;
}

.header__logo-subcontainer {
    max-width: 120px;
}

.header__logo {
    display: none;
}

/* @media (min-width: 500px) {} */

@media (min-width: 720px) {
    .header__logo-container {
        gap: 1rem;
    }

    .header__logo {
        display: block;
        width: 3.125rem;
        height: 3.125rem;
    }

    .header__end-options {
        display: flex;
        gap: 1rem
    }
}

@media (min-width: 1000px) {
    .header__end {
        justify-content: space-between;
    }

    .header__search-input {
        display: block;
        border: 2px solid red;
    }

    .header__search-btn {
        display: none;
    }
}